:global(.contentGrid) {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, 280px);
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 1723px) {
  :global(.contentGrid) {
    grid-template-columns: repeat(3, 280px);
  }
}

@media (max-width: 1420px) {
  :global(.contentGrid) {
    grid-gap: 16px;
    grid-template-columns: repeat(4, 200px);
  }
}
